@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css");

code, .sourceLine, .sourceCode {
  font-family: "Fira Code", Consolas, Inconsolata, monospace !important;
  white-space: inherit;
}


.info {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: 5px center/3em no-repeat;

  background-image: url("images/info.png");
  background-color: #bfd5ff
}

.caution {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: 5px center/3em no-repeat;

  background-image: url("images/caution.png");
  background-color: #f7faca
}

/*
.tip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: 5px center/3em no-repeat;

  background-image: url("images/info.png");
  background-color: #bfd5ff
}
*/

pre code {
  white-space: pre-wrap;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  padding: 2px 0;
}
